<div class="col-md-6 col-md-offset-3">

  <div class="edit-restaurant-form">

    <h1>Edit Restaurant</h1>

    <%= simple_form_for @restaurant, :html => { :multipart => true } do |f| %>
      <%= f.select :type_id, @types %>
      <%= f.file_field :restaurant_img %>
      <%= f.input :name, label: "Restaurant Name" %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.button :submit, :class => "btn-custom2" %>
    <% end %>

  </div>

</div>
