<div class="row">

  <div class="col-md-4">

    <%= image_tag @restaurant.restaurant_img.url(:restaurant_show), class: "restaurant-show" %>

  </div>

  <div class="col-md-8">
    <h2><%= @restaurant.name %></h2>
    <h3><%= @restaurant.address %></h3>
    <p><%= @restaurant.description %></p>
  </div>


</div>

<div class="row">

  <div class="col-md-4">


    <%= render @restaurant.reviews %>

    <div>
      <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
    </div>

  </div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @restaurant.user_id == current_user.id %>

    <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
    <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"} %>

  <% end %>

<% end %>
